

/* Description */

.mb2-description {
	color: #aaa;
	font-style: italic;
	border: solid 1px #ebebeb;
	padding: 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;	
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}



/* Mb2 radio images */

.mb2-radioimage-wrap {
	display: none;
	padding-top: 10px;
}

.mb2-radioimage input[type="radio"] {
	display:none;
}



.mb2-radioimage label,
.mb2-prestyles-item {
	display:block-inline;
	float:left;	
	width: 150px;
	margin:0 5px 5px 0;
	border:solid 1px #d0d0d0;
	opacity:0.35;
}



.mb2-radioimage label img {
	width: 100%;
	height: auto;
}



.mb2-radioimage label:hover,
.mb2-radioimage label:focus,
.mb2-prestyles-item:hover,
.mb2-prestyles-item:focus {
	opacity:1;	
}


.mb2-radioimage input[type="radio"]:checked + label,
.mb2-prestyles-item.active {
	border-color:#52a351;
	opacity:1;
}








/*-----------------------------------------------------------*/
/*	Accordion items
/*-----------------------------------------------------------*/
/* General style for section item */

.mb2sections-item {	
	margin-bottom: -20px;
	position: relative;
	top: -30px;	
}



/* Style for heading and content */

.mb2sections-heading,
.mb2sections-content {
	padding: 20px;	
}



/* Style for heading */

.mb2sections-heading {
	padding: 15px 20px;
	margin: 0;
	font-size: 100%;
	line-height: 1;	
	cursor: pointer;
	background-color: #e7e8e9;
	color: #656565;
	position: relative;
}


/* Queston icon */
.mb2sections-desc {
	display: none;
	width: 300px;
	height: auto;
	padding: 10px;
	position: absolute;
	right: 0;
	bottom: 110%;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	font-weight: normal;
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.mb2sections-desc:after {
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	bottom: -10px;
	border: solid 5px rgba(255,255,255,0);
	border-top-color: rgba(0,0,0,.8)	
}

.mb2sections-question {
	display: block;
	position: absolute;
	right: 10px;
	top: 12px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	width: 20px;
	height: 20px;
	color: #fff;
	font-weight: normal;
	background-color: rgba(0,0,0,.1);
	-moz-border-radius: 999px;	
	-webkit-border-radius: 999px;
	-ms-border-radius: 999px;
	-o-border-radius: 999px;
	border-radius: 999px;	
}

.mb2sections-heading:hover,
.mb2sections-heading.active {
	background-color: #f1f2f3;
}


/* Style for content */

.mb2sections-content {
	display: none;
	border: solid 1px #e7e8e9;
	border-top: 0;	
}



/* Custom color for super sections */

.section_header,
.section_footer,
.section_main_content {
	color: #5bb75b;	
}











/*-----------------------------------------------------------*/
/*	Theme admin panel
/*-----------------------------------------------------------*/
/* Tabs */
.com_templates.view-style.layout-edit .form-horizontal {
	position: relative;
	padding: 0 0 0 200px;
	max-width: 840px;
	background: #e5e6e7;
	border: solid 1px #ddd;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
	
	
	
	
/* Tabs left position */	
.com_templates.view-style.layout-edit .nav-tabs {
	position:absolute;
	left:0;
	top:0;
	border:0;
	margin:0;
}
	
.com_templates.view-style.layout-edit .nav-tabs li {
	display:block;
	float:none;
	width:200px;	
}
															
															
															
															
	
/* tabs style */
.com_templates.view-style.layout-edit .nav-tabs li {
	border:0;														
	margin:0 -1px 0 0;
}
	
.com_templates.view-style.layout-edit .nav-tabs li a {
	border:0;
	border-bottom:solid 1px #ddd;
	margin:0;
	outline:0;
	padding:12px 9px;
	color:#656565;
	background-color: #f1f2f3;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
	
	
.com_templates.view-style.layout-edit .nav-tabs li a:hover {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	color: #07689a;
	background-color: #fafbfc;
}
	
	
	
	
.com_templates.view-style.layout-edit .nav-tabs li a i {
	margin-right:7px;
}
	
	
	
	
	
	
	
/* tabs active */
.com_templates.view-style.layout-edit .nav-tabs li.active a,
.com_templates.view-style.layout-edit .nav-tabs li.active a:hover,
.com_templates.view-style.layout-edit .nav-tabs li.active a:active,
.com_templates.view-style.layout-edit .nav-tabs li.active a:focus {
	border:0;
	border-bottom:solid 1px #ddd;
	border-right:solid 1px #fff;
	margin-right:-1px;
	background:#fff;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	color:#07689a;
}



/* Details tab style */
	
#details .span3 input[type="text"],
#details .span3 select {
	width: 96% !important;	
}
	
	
	
	
	
	
	
	
	/*-------------------------------------*/
	/*	Params
	/*------------------------------------*/
	/* template */
	.com_templates.view-style.layout-edit #details h3		{text-transform:uppercase;}
	
	
	
	/* tab content style */
	.com_templates.view-style.layout-edit .tab-content		{border-left:solid 1px #ddd;
															min-height:500px;
															padding:20px 20px 40px 20px;
															background:#fff;}
	
	
	
	
	



	/* change width of span6  to 100% */
	.com_templates.view-style.layout-edit .span6	{width:100%!important;
												margin-right:0!important;
												margin-left:0!important;}
												
												
												
												
	
	
	
	
	
	
	
	
	
	
	
	
	
												
	
	
	
	
	/*-------------------------------------*/
	/*	Resposive style
	/*------------------------------------*/
	@media only screen and (max-width:768px){
		
	
		/* form style */
		.com_templates.view-style.layout-edit .form-horizontal	{margin:0;
																padding:0;}
	
		.com_templates.view-style.layout-edit .tab-content		{border:0;}
		
		
		
		/* tabs position */
		.com_templates.view-style.layout-edit .nav-tabs		{position:relative;}
		.com_templates.view-style.layout-edit .nav-tabs li	{width:100%;}
		
		
		
		
		/* tabs active */
		.com_templates.view-style.layout-edit .nav-tabs li.active a,
		.com_templates.view-style.layout-edit .nav-tabs li.active a:hover,
		.com_templates.view-style.layout-edit .nav-tabs li.active a:active,
		.com_templates.view-style.layout-edit .nav-tabs li.active a:focus	{margin-right:0;}
		
		
		
	}	